.box{
    width: 500px;
    height: 500px;
    background-color: rgb(247, 229, 229);
    overflow: hidden;   
}
 
 .box img{
    margin-left: 25%;
    margin-top: 25%;
    height:50%;
    width: 50%;
    object-fit: cover;    
    transform:scale(1.0);        
    transition: transform .5s; 
}
 
 .box img:hover{             
    transform:scale(1.5);            
    transition: transform .5s; 	
}

