.box{
    background-color: rgb(66, 133, 172);
    margin: auto;
    justify-content: center;
    padding: 0 0 0 0;
    width: 50%;
    position: absolute;

}
.box:hover{
    background-color: blanchedalmond;
    position: absolute;
    top:50px
}
.text{
    color: black;
    text-align: center;
    font-weight: 800;
    font-size: larger;
}