.checkbox input {
    display: none;
}
.checkbox span{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox .icon{
    position: relative;
    width: 17px;
    height: 17px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    transition: background 0.1s ease;
}
@keyframes jelly {
    from{transform: scale(1,1);}
    30%{transform: scale(1.25,0.75);}
    40%{transform: scale(0.75, 1.25);}
    50%{transform: scale(1.15,0.85);}
    65%{transform: scale(0.95,1.05);}
    75%{transform: scale(1.05,0.95);}
    to{transform: scale(1,1);}
}
.checkbox .icon::after{
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg) scale(0); /*형태 변화*/
    transition: all 0.3s ease; /*애니메이션 효과  부드러운 ease*/
    transition-delay: 0.15s; /*배경이 먼저 변하고 체크가 변하도록 지연을 줌*/
    opacity: 0;
}

.checkbox input:checked ~ .icon{
    border-color: transparent;
    background: #ff1616;
    animation: jelly 0.6s ease;
}
.checkbox input:checked ~ .icon::after{
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

.checkbox .text{
    margin-left: 5px;
}